*.exe
/.idea
.idea
cmake-build-debug
CMakeLists.txt
/.vscode
/.vs
CppPropeties.json
/.obsidian


#c
/online-judge/c/.clang-tidy

# 高级程序设计
/high-level-programming/cmake-build-debug/
/high-level-programming/CMakeFiles/
/high-level-programming/build.ninja
/high-level-programming/Makefile
/high-level-programming/cmake_install.cmake
/high-level-programming/.cmake/
/high-level-programming/.ninja_log
/high-level-programming/.ninja_deps
/high-level-programming/Testing
/high-level-programming/data
/high-level-programming/Handbook of applied cryptography (Alfred Menezes, Paul van Oorschot etc.).pdf


# others
compile_commands.json
.clang-tidy
.clang-format
